@{
    ViewData["Title"] = "Home Page";
}
@* add jquery cdn *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@* jquery calender *@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<div class="text-center">
    <h1 class="display-4">Welcome change in new branch named amit-test-branch</h1>
    <h1>this change made in branch 2</h1>
    <h1>change in master branch</h1>
   <h1>remove link and add this line in master branch after cloning git to azure devops</h1>
</div>
